* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

nav {
  height: 15vh;
  font-size: 1.5em;
}

.espIng {
  font-size: 1.2em;
  margin-left: 1.5em;
}

.navegacion {
  font-size: 1.2em;
  margin-right: 1.5em;
}

button {
  background-color: #f2f2f2;
  padding: 0.5em 1em;
  border-color: #897fe2;
  border-width: 0.3em;
}

button:hover {
  border-style: dashed;
}

.primerosDatos {
  text-align: center;
}

.primerosDatos img {
  width: 20%;
}

.corchetes {
  display: inline;
  margin: auto 0.2em;
  padding-top: 0%;
  font-size: 1.3em;
  color: #897fe2;
}

.sobreMi {
  font-size: 1.5em;
  background-color: #897fe2;
  color: #f2f2f2;
  padding: 4em 7em;
  margin: -3em auto;
}

.portada {
  width: 50%;
  margin: 1.5em auto;
}

.descripcion {
  margin: 2em 7em;
  font-size: 1.1em;
}

.verPag {
  width: 12em;
  font-size: 1.1em;
}

footer {
  background-color: #897fe2;
  height: 6em;
  font-size: 1.2em;
}

/* RESPONSIVE TABLET */
@media (max-width: 1400px) {
  nav {
    height: 10vh;
    font-size: 1em;
  }

  .florcitasArriba {
    width: 60%;
    padding-bottom: 3em;
  }

  .sobreMi {
    font-size: 1em;
    padding: 3em 6em;
  }

  .florcitasAbajo {
    width: 60%;
    padding-top: 3em;
  }

  .divisor {
    width: 70%;
    padding: 2em 0;
  }
}

/* RESPONSIVE CELU */
@media (max-width: 1000px) {
  nav {
    height: 10vh;
    font-size: 0.8em;
  }

  .tituloUno {
    font-size: 2em;
  }

  .tituloDos {
    font-size: 1.8em;
  }

  .primerosDatos {
    font-size: 0.6em;
  }

  .sobreMi {
    font-size: 0.8em;
    padding: 3em 6em;
  }

  .habilidades {
    padding: 0 5em;
  }

  .portada {
    width: 80%;
    margin: 1.5em auto;
  }

  .descripcion {
    margin: 1em 2em;
    font-size: 1.1em;
  }

  .verPag {
    width: 9em;
    font-size: 0.8em;
  }
}
