#contact {
  padding-top: 5rem;
}

.contactContainer {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 2em 3em;
}

.contact-form label {
  color: var(--blanquito);
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: var(--violeta-medio);
  border: none;
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1em;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--blanquito);
}

.btn-submit {
  background-color: var(--violeta-medio);
  border: none;
  border-radius: 1.2rem;
  padding: 0.4rem 1.2rem;
  color: var(--blanquito);
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: var(--violeta-claro);
  color: var(--violeta-negro);
}

.contact-info {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--blanquito);
}

.contact-info a {
  color: var(--blanquito);
  text-decoration: none;
  margin-left: 0.3rem;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info p {
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
