body {
  /* background-color: var(--violeta-negro); */
  background-image: linear-gradient(
    to bottom,
    var(--violeta-negro),
    var(--violeta-oscuro),
    var(--violeta-medio)
  );
  min-height: 100vh;
  margin: 0;
}
