nav {
  background-color: rgba(80, 54, 70, 0.5);
  padding: 0.5em 2em;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navList {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navLinks {
  display: flex;
  gap: 3em;
}

.navLinks li a {
  text-decoration: none;
  color: var(--blanquito);
}

.navLinks li a:hover {
  text-decoration: underline;
}

.logo {
  max-height: 8vh;
}

.logo i {
  font-size: 2rem;
}
