.navbar {
  width: 100%;
  background-color: rgba(80, 54, 70, 0.9);
  padding: 0.5em 2em;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar.show {
  transform: translateY(0);
}

.navContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo i {
  font-size: 2rem;
  color: var(--blanquito);
}

.hamburger {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--blanquito);
  display: none;
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: 3em;
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: var(--blanquito);
}

.navLinks li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navLinks {
    flex-direction: column;
    position: absolute;
    top: 4em;
    right: 0;
    background-color: rgba(80, 54, 70, 0.95);
    padding: 1em 2em;
    gap: 1.5em;
    display: none;
    width: max-content;
  }

  .navLinks.open {
    display: flex;
  }
}
